//
//  Secrets.xcconfig
//  UnsplashDemoApp
//
//  Created by Alexander on 24.06.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

UNSPLASH_ACCESS_KEY = HxOgWyiMg3lZW-tzoXuI0q9gzBI7psHEsmeiLqtNq78
